<div class="timesliderDiffSettings popup" style="float:right;display:none;position:absolute;right:0px;">
  <div id="timesliderDiffOutput"></div>
  <form>
    <!--
    <label for=updateDiffOnlyShowChanges>Only show modifications</label>
      <input id="updateDiffOnlyShowChanges" type="checkbox">
    -->
    <input type=submit onClick="updateDiffView();return false" value="Try again" style="padding:10px;float:right;">
  </form>
</div>

