<div class="timesliderDiffSettings popup" style="float:right;display:none;position:absolute;right:0px;">
  Show diff between the selected revision and the latest revision
  <div id="timesliderDiffOutput"></div>
  <form>
    <input type=submit onClick="updateDiffView();return false" value="Update Diff" style="padding:10px;float:right;">
  </form>
</div>

