<ul>
  <li onclick='updateDiffView();$(".timesliderDiffSettings").toggle();return false;'>
    <a id="exportlink" title="See the diff between this revision and the latest revision">
      <div class="buttonicon" style="font-size:14px;color:black;width:60px;background-image:none;">
        Diff
      </div>
    </a>
  </li>
</ul>
